:root {
  /* Colors */
  --light-orange: #f2d0a9ff;
  --almont: #f1e3d3ff;
  --crimson: #dc143cff;

  /* General */
  --dark-base: #222;
  --lighter-dark: #333;
  --gray: #858585;
  --light-gray: #d2d2d2;
  --light-white: #f1f1f1;

  /* Active */
  --active-almond: #feecd7;
  --active-light-white: #dedede;
  --active-crimson: #c51337;

  /* Fonts */
  --base-font: Raleway, sans-serif;
  --accent-font: Nunito sans, sans-serif; 
  
}